.left-images{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    gap: 20px;
}

.small-images{
    display: flex;
    justify-content: space-between;
}

.small-images img{
    width: 5vw;
    border-radius: 10px;
    cursor: pointer;
}
.small-images img:hover{
   opacity: 0.5;
}


.big-img{
    width: 25vw;
    border-radius: 10px;
}